<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html">
<title>TIENDA GENERICA</title>

    <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

   <!-- Los iconos tipo Solid de Fontawesome-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
   <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

  <!--css-->
  
<link rel="stylesheet" type="text/css" href="/css/Menu.css" media="screen"> 
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>


<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <img src="/image/logo.png" width="80 px" margin-left: "5%">
                </li>
                <li> <br> </li>
            
                <li>
                    
                    <a href="/Productos">
                        
                        <i class="fas fa-apple-alt fa-2x"></i>
                        <span class="nav-text">
                             PRODUCTOS
                        </span>
                    </a>
                  
                </li>
                
                
                
                <li> <br> </li>
                
                
                <li class="has-subnav">
                    <a href="/Clientes">
                        <i class="fa fa-laptop fa-2x"></i>
                        
                        <span class="nav-text">
                            CLIENTES
                        </span>
                    </a>
                    
                </li>
 
            </ul>





            <ul class="logout">
                <li>
                   <a href="/">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
        